<div class="row space-top user-page">
  <div class="user-wrapper">
    <dl class="tabs" data-tab>
      <dd class="active"><a href="#panel1"><i class="fa fa-user"></i> My Profile</a></dd>
      <dd><a href="#panel2"><i class="fa fa-bullhorn"></i> Contact Customer Support</a></dd>
    </dl>
    <div class="tabs-content">
      <div class="content active" id="panel1">
        <p>This is the first panel of the basic tab example. This is the first panel of the basic tab example.</p>
      </div>
      <div class="content" id="panel2">
        <p>This is the second panel of the basic tab example. This is the second panel of the basic tab example.</p>
      </div>
    </div>
  </div>
</div>
