<div class="welcome-bg">
  <div class="intro-container">
    <div class = "intro">
      <h2>Hey. Welcome to <strong> Movie Site</strong></h2>
      <h5>Your legal movie source</h5><br>
      <div style="text-align: center;">
        <%= link_to "Sign up for free", root_path, class: "button sign-up-button blue" %>
        <%= link_to "Customer Support", root_path, class: "button sign-up-button green" %>
      </div>
    </div>
  </div>
</div>
<div class="panel small-6 small-offset-3 columns screen">
  <img src="https://s3.amazonaws.com/movie-site-anton/screen1.png">
</div>
<div class="container">
  <div class="second_welcome">
  </div>
  <div class="third_welcome small-12 columns">
    <br>
    <p>
      <span class="line-left"></span>
      <span class="itworked small-12 columns">Fast & Easy start watching with these simple steps<span>
      <span class="line-right"></span>
    </p>
    <div class="small-3 large-offset-1 columns">
      <div class="circle">
      </div>
    </div>
    <div class="small-3 columns">
    </div>
    <div class="small-3 columns">
    </div>
  </div>
</div>
<div class="forth_welcome">
</div>
