<div class="space-top small-11 small-centered columns">
  <div class="panel small-7 columns">
    <h4>Why do we ask you for your billing information?</h4>
    <p>
      Because we are only licensed to distribute our content to certain countries, we ask that you verify your mailing address by providing us with a valid credit card number. We GUARANTEE that NO CHARGES will be applied for validating your account.
    </p>
    <h4>We provide you a SECURE Online Environment</h4>
    <p>
      Unlike many companies on the Internet, we use encryption security technology. Our site employs Secure Sockets Layering (SSL) to encrypt your personal information such as credit card number, name, and address before it travels over the Internet. Your data is encrypted and password-protected, so no one ever sees your information!
    </p>
    <h4>Never any Hidden Fees</h4>
    <p>
      We make sure to provide our members with a detailed transaction history so that they know what they are paying for. Credit card information is required to facilitate future purchases only. No charges will appear on your credit card statement, unless you upgrade to Premium Membership or you make a purchase. By creating an account, you agree to our Terms & Conditions.
    </p>
    <p>
      * -please be aware that your trial period ends after 7 days. subsequently costs of 49.99 occur for the monthly membership. To avoid any costs please cancel your free account.You may cancel at any time by visiting our support center, or contact customer service
    </p>
  </div>
  <div class="panel small-5 columns">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="4EQ3Y88HEFE8L">
    <table>
    <tr><td><input type="hidden" name="on0" value="Plan options">Plan options</td></tr><tr><td><select name="os0">
      <option value="Monthly">Monthly : $49.99 USD - monthly</option>
      <option value="Yealy">Yealy : $400.00 USD - yearly</option>
      <option value="7 days trial">7 days trial : $0.00 USD - weekly</option>
    </select> </td></tr>
    </table>
    <input type="hidden" name="currency_code" value="USD">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
    <hr>
    <h5>Prefer using your credit card?</h5>
    <form action="" method="POST">
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_Fxcc8zgij6BLaUnKix8yvLGN"
        data-amount="4999"
        data-name="SlickHD"
        data-description="49.99"
        data-image="/128x128.png">
      </script>
    </form>
  </div>
</div>
