// FOOTER
.footer{
  border-top: solid grey;
  height: 10%;
}
// FLASH
.notice-flash{
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  margin-top: 5px;
}

/*WELCOME PAGE*/
.welcome-bg{
  background-image: url("https://s3.amazonaws.com/movie-site-anton/background.jpg");
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.intro-container {
  padding-top: 4%;
}

.intro{
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2em;
  width: 50%;
  margin: 0 auto;
  color: white;
  border-radius: 10px;
}

.intro h3{
  color: white;
  text-align: center;
  font-family: 'Signika', sans-serif;
}

.intro h2{
  color: white;
  text-align: center;
  font-family: 'Signika', sans-serif;
}

.intro h5{
  color: #BEBEBE;
  text-align: center;
  font-family: 'Signika', sans-serif;
}

.sign-up-button{
  text-align: center;
  border-radius: 10px;
}

.second_welcome{
  width: 100%;
  height: 65%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: -3%;
  z-index: 2;
}

.third_welcome{
  width: 100%;
  height: auto;
  position: absolute;
  background-color: white;
  margin-top: -1%;
  z-index: 2;
  text-align: center;
}

.screen{
  z-index: 7;
  width: 50%;
  height: 50%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  margin-top: -22%;
  border: none;
}

/*Welcome three circle*/
.itworked {
  font: italic bold 2em "bistro-script-web-1","bistro-script-web-2", cursive;
  color: #2A4F54;
  }

.line-left, .line-right {border-bottom: 2px solid #2a4f54;width: 22%;display: inline-block;margin-bottom: -50px;}
.line-left {float: left;margin-top: 25px;margin-left: 15px;}
.line-right {float: right;margin-top: 25px;margin-right: 15px;}

.forth_welcome{
  position: relative;
  width: 100%;
  height: 60%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.fifth_welcome{
  background-image: url("https://s3.amazonaws.com/movie-site-anton/2.jpg");
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.sixth_welcome{
  padding-top: 1%;
  width: 100%;
  height: auto;
  background-color: #F5F5F5;
  text-align: center;
}

.plan-wrapper{
  text-align: center;
}

.no-binding-period{
  font-size: 0.6em;
}

.price-wrapper{
  margin-top: 5%;
}

#trial{
  color: #207BF0;
  font-size: 1.2em;
}

#thirty-day{
  color: #68AA10;
  font-size: 1.2em;
}

#one-year{
  color: #FE5D05;
  font-size: 1.2em;
}

#choose-a-plan{
  color: #6D7379;
}

.price-table{
  width: 100%;
  padding-top: 2%;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 5px 5px 5px black;
  -webkit-box-shadow: 5px 5px 5px black;
  box-shadow: 5px 5px 5px black;
}

.second-price-tab{
  margin-left: 40%;
}

.price-table tr th{
  text-align: center;
}

.price-table tr td{
  background-color: white;
  text-align: center;
}

.price{
  padding: 2px auto;
  color: #7C898E;
  font-size: 2em;
}

.price-per-day{
  color: #7C898E;
  font-size: 1em;
}

.end{
  margin-top: 1%;
}

.panel-customized{
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 10%;
  margin-left: 10%;
}

.circle-icons{
  width: 70%;
  height: 70%;
}

.circle-icons-three{
  width: 20%;
  height: 20%;
  margin-top: -1.5%;
}

.second-circle{
  margin-left: 5%;
}
/*welcome end*/

/*TOP BAR*/

.top-divider{
  height: 0.8%;
  background: -webkit-linear-gradient(left, #0165B1, #0165B1 10%, #00A7DB 10%, #9AC430 15%, #9AC430 10%, #A62698);
  margin-top: 65px;
}

.nav-items{
  color: #666C73;
  font-size: 0.8em;
  margin-right: 20px;
  font-weight: bold;
}

.green{
  background: #68AA10;
}

.orange{
  background: #FE5D05;
}

.blue{
  background: #207BF0;
}

// All Pages
.space-right{
  margin-right: 5%;
}

.space-top{
  margin-top: 3%;
}

.padding-top{
  padding-top: 3%;
}

.space-left{
  margin-left: 4%;
}

// Registration
.watch-now{
  color: #393939;
  font-size: 4em;
}

.watch-now-box{
text-align: center;
margin-bottom: 3%;
}

#sign-up-free{
  color: #6DC444;
  font-weight: bold;
}

.continue{
  background-color: #5CB85C;
}

.registration-fake{
  width: 90%;
  height: 90%;
}

// Pagination
.paginate{
  text-align: center;
}

//Shows index page
.hidden{
  display: none;
}
.slideshow{
  text-align: center;
}

.slideshow .item{
  margin: -15%;
}

.slideshow .item :hover {
  -moz-box-shadow: 0 0 10px black;
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
}

.top-ten-poster{
  width: 75%;
  height: 75%;
}

.top-ten-title{
  z-index: 5;
  color: white;
  font-weight: bold;
  font-size: 0.75em;
  position: absolute;
  margin-top: -30%;
  margin-left: 20%;
  padding: 15px 25px 15px 20px;
  background-color: rgba(0, 0, 0, 0.8)
}

/*B&W*/
.bw {
  opacity: 0.9;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;

}

.bw:hover {
  -webkit-filter: grayscale(80%);
  opacity: 1;
}
// B&W end

.popular{
  color: #888888;
  font-size: 1.25em;
}

.view-all{
  color: #888888;
  opacity: 0.85;
  font-size: 0.75em;
}
.poster_title{
  padding-top: 2%;
  font: bold 0.85em 'lucida sans', 'trebuchet MS', 'Tahoma';
  text-align: center;
}

.poster_title .title{
  color: black;
  text-decoration: none;
}

.right-panel{
  -webkit-box-shadow: -1px 0px 1px 0px rgba(201,195,201,1);
  -moz-box-shadow: -1px 0px 1px 0px rgba(201,195,201,1);
  box-shadow: -1px 0px 1px 0px rgba(201,195,201,1);
}

.search-left{
  font-weight: bold;
}

.search-list{
  list-style-type: none;
}

.search-list li a{
  text-decoration: none;
  color: inherit;
  opacity: 0.9;
}

.search-list li a:hover{
  text-decoration: none;
  color: inherit;
  opacity: 1;
  zoom: 105%;
}
//search
.cf:before, .cf:after{
    content:"";
    display:table;
}

.cf:after{
    clear:both;
}

.cf{
    zoom:1;
}
/* Form wrapper styling for SEARCH*/
.form-wrapper {
    width: 100%;
    padding: 20px;
    background: #444;
    background: rgba(0, 0, 0, .1);
    border-radius: 10px;
    box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}

/* Form text input */

.form-wrapper input {
    width: 80%;
    float: left;
    font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
    border: 0;
    background: #eee;
    border-radius: 3px 0 0 3px;
}

.form-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}

.form-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}

/* Form submit button */
.form-wrapper .form_submit {
    overflow: visible;
    position: relative;
    float: right;
    border: 0;
    padding: 0;
    cursor: pointer;
    height: 38px;
    width: 20%;
    font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
    color: #fff;
    text-transform: uppercase;
    background: #d83c3c;
    border-radius: 0 3px 3px 0;
    text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}

.form-wrapper .form_submit:hover{
    background: #e54040;
}

.form-wrapper .form_submit:active,
.form-wrapper .form_submit:focus{
    background: #c42f2f;
    outline: 0;
}

.form-wrapper .form_submit:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
}

.form-wrapper .form_submit:hover:before{
    border-right-color: #e54040;
}

.form-wrapper .form_submit:focus:before,
.form-wrapper .form_submit:active:before{
        border-right-color: #c42f2f;
}

.form-wrapper .form_submit::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
    border: 0;
    padding: 0;
}

//SHOWS SHOW PAGE
.video-player video{
  width: 100%;
  height: 100%;
}

.leadgen {
    background: rgba(0, 0, 0, 0.9);
    width: 97%;
    height: 80%;
    display: none;
    position: absolute;
    margin-top: -52%;
    z-index: 3;
    text-align: center;
  }

.lead-text{
  color: white;
  font: 'Tahoma', 'lucida sans';
  font-size: 1em;
}

.lead-image img{
  width: 40%;
  height: 40%;
}

.create-free-account{
  background-color: #359987;
  color: white;
  margin-top: 3.5%;
}

// USER PAGE
.user-page{
  border-radius: 15px;
  background-color: #F4F4F4;
  text-align: center;
  height: 85%;
}

.user-wrapper{
  margin: 2% 1% 1% 2%;
  text-align: center;
}

// ADMIN PAGES.
.center-all{
  text-align: center;
}
.full-page{
  height: 85%;
}

.file-upload-container{
  border: 1px solid #efefef;
  padding:10px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  background: #fbfbfa;
}

.file-upload-button{
  position: absolute;
  height: 50px;
  top: -10px;
  left: -10px;
  cursor: pointer;
  opacity: 0;
  filter:alpha(opacity=0);
}
