<div class="full-page row collapse space-top">
  <h3> Customer Support </h3>
  <div class="small-12 columns">
    <div class="small-4 small-offset-2 columns support-panel">
      <div>Call Us</div>
      001-456-789-1000<br>
    </div>
    <div class="small-4 columns support-panel">
      <div>Email</div>
      <div>
        anton@gmail.com
      </div>
    </div>
    <div class="small-4 columns">
    </div>
  </div>
  <div class="small-12 columns">
  </div>
</div>
